@import url('https://fonts.googleapis.com/css2?family=Homenaje&display=swap');

body {
   font-family: 'Homenaje', sans-serif;
    margin: 0; 
    padding: 0;
    
    scroll-behavior: smooth;
    background-color: #212121; 
    min-height: 100vh; 
    width: 100vw;
    overflow-x: hidden;
    background-image: url("../img/portraits/13alt.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;    
}
/*-----------------------------H1 SMOKE---------------------------------*/

  h1 {
  font-family: 'Homenaje', sans-serif;
  font-size: 2.4em;  
  line-height: 0.6em;
  margin: auto;
  text-align: center;
  color: transparent;
   text-shadow: 0 0 2px #fff;
}
a {
    cursor: pointer;
}

#chevron {
    display: block;
    width: 100px;
    height: 40px;
    text-align: center;
    margin-left: 40px;
    margin-top: 40px;
    position: sticky;
}
.fa-chevron-up {
   font-size: 1.7em;
   margin-left: -5px;
   color: transparent;
   text-shadow: 0 0 2px #fff;
}
#chevron2 {
    position: relative;
    top: -12px;
}
#chevron3 {
    position: relative;
    top: -24px;
}
.curtain {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    box-shadow: 2px 15px 15px 10px rgba(0, 0, 0, .8);
    background: rgba(255, 255, 255, 0.15);
  /*border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;*/ 
    overflow-x: hidden; 
    transition: 0.5s; 
    backdrop-filter: blur(15px); 
}
.curtain-content {
    position: relative;
    top: 30%; 
    width: 100%;
    text-align: center;    
    /*text-shadow: -1.5px 0 1.5px white, 0 1.5px 1.5px white, 1.5px 0 1.5px white, 0 -1.5px 20px white;*/
}
.curtain-content i {
    margin-right: 15px;
}
.curtain a {
    padding: 8px;
    text-decoration: none;
     font-size: 2.25em;
    color: transparent;
   text-shadow: 0 0 2px #fff;
    display: block; 
    transition: 0.3s; 
}
.curtain a:hover, .curtain a:focus {
    color: black; 
    text-shadow: -0.5px 0 0.5px black, 0 0.5px 0.5px black, 0.5px 0 0.5px black, 0 -0.5px 5px black;
}
.curtain .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.fa-times {
  font-weight: lighter;
  font-size: 0.6em;
}
h2 {
  font-family: 'Homenaje', sans-serif;
  font-size: 5em;  
  line-height: 0.6em;
  margin: auto;
  text-align: center;
  color: transparent;
   text-shadow: 0 0 2px #fff;

}



/*-------------------------------------SECTION MINDcard-----------------------------------*/
section {
  position: relative;
  display: flex;
  flex-direction: row;
}
.workco {  
  position: relative;
  width: 25%;  
  margin: auto;  
  text-align: left;
  height: 500px;
  margin: auto; 
  transform: translateY(-50%); 
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);

}
/* card fronts and backs */
.cardfront, .cardback {
  position: absolute;
  top: 50%;  
  left: 55%;  
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  transition: transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;    
  border-radius: 25px;  
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);  
  overflow: hidden;
   /*text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);*/
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  color: white;
}
.cardfront {
 /*background: transparent;*/
 display: flex;
 border: none;
  background: rgba(200, 100, 0, 0.2);
 
}
.cardback {
  backdrop-filter: blur(15px);  
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.2);
}
.cardback p, .cardback2 p {
  font-size: 1.25em;
  margin: auto;
  padding: 25px;

}
/* card text */
.cardtext { 
  text-align: center;  
  margin: auto; 
  width: 90%;
}
.cardback2 i { 
  margin-right: 5px;
  font-style: 0.15em;  
}


/* hover effect */
.workco:hover .cardfront {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}
.workco:hover .cardback {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}
.cardfront2, .cardback2 {
   position: absolute;
  top: 70%;  
  right: 55%;  
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  transition: transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;    
  border-radius: 25px;  
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
  overflow: hidden;
   /*text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);*/
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  color: white;
}
.cardfront2 {
 /*background: transparent;*/
 display: flex;
 border: none;
 background: rgba(250, 150, 250, 0.2);

 
}
.cardback2 {
  backdrop-filter: blur(15px);  
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
  display: flex; 
  background: rgba(255, 255, 255, 0.2);
}

.workco:hover .cardfront2 {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}
.workco:hover .cardback2 {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}



/*-----------------------------MEDIA QUERIES---------------------------------*/
@media (min-width: 1920px) and (max-width: 2560px)
  {
 h1 {  
  font-size: 2.75em;    
}
}

@media screen and (max-width: 1024px) 
{
.workco {   
  width: 35%; 
}
.cardfront, .cardback {
  top: 50%;  
  left: 25%;    
} 
.cardfront2, .cardback2 {
  top: 70%;  
  right: 25%;   
}
 h1 {  
  font-size: 2em;    
}
}
@media screen and (max-width: 768px)
  {
h2 {
  font-size: 3.5em;   
 }
 .workco {   
    height: 425px;
}
 .cardback p, .cardback2 p {
  font-size: 1em;
}
 #chevron {    
    margin-left: 20px;
    margin-top: 20px;
}
}
@media screen and (max-width: 450px)
  {
       h1 {  
  font-size: 1em;    
}
h2 {
  font-size: 3.5em;  
 }
 .workco {   
    height: 400px;
    width: 66%;  
}
.cardfront, .cardback {  
  top: 50%;  
  left: 5%;   
}
.cardfront2, .cardback2 {  
  top: 30%;  
  right: 5%;   
}
.curtain-content span {
  display: none;
}
section {
  position: relative;
  display: flex;
  flex-direction: column;
}
article {
  position: absolute;  
  bottom: -25%;
  right: 0; 
  
}
#chevron {    
    margin-top: 10px;
    margin-left: -15px;
}
.fa-chevron-up {
   font-size: 1em;
   margin-left: -5px;   
   color: transparent;
   text-shadow: 0 0 2px #fff;
}
#chevron2 {
    position: relative;
    top: -8px;
}
#chevron3 {
    position: relative;
    top: -16px;
}
}
@media screen and (max-width: 325px)
  {

 .workco {   
    height: 400px;
    width: 85%;  
}
.cardfront, .cardback {  
  top: 50%;  
  left: 5%;   
}
.cardfront2, .cardback2 {  
  top: 30%;  
  right: 5%;   
}
.curtain-content span {
  display: none;
}
section {
  position: relative;
  display: flex;
  flex-direction: column;
}
article {
  position: absolute;  
  bottom: -25%;
  right: 0; 
  
}
#chevron {    
    margin-top: 10px;
    margin-left: -15px;
}
.fa-chevron-up {
   font-size: 1em;
   margin-left: -5px;   
   color: transparent;
   text-shadow: 0 0 2px #fff;
}
#chevron2 {
    position: relative;
    top: -8px;
}
#chevron3 {
    position: relative;
    top: -16px;
}
}
