@import url('https://fonts.googleapis.com/css2?family=Homenaje&display=swap');

body {
   font-family: 'Homenaje', sans-serif;
    margin: 0; 
    padding: 0;
    
    scroll-behavior: smooth;
    background-color: #212121; 
    min-height: 100vh; 
    width: 100vw;
    overflow-x: hidden;
    background-image: url("../img/05.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    animation: flicker 8s infinite alternate;
}

@keyframes flicker {
  0%, 31% { background-image: url("../img/05.jpg"); }
  32%,32.5% { background-image: url("../img/05night.jpg"); }
  32.5%,33% { background-image: url("../img/05.jpg"); }
  33%,33.5% { background-image: url("../img/05night.jpg"); }
  33.5%,34% { background-image: url("../img/05.jpg"); }
  34%,34.5% { background-image: url("../img/05night.jpg"); }
  34.5%,35% { background-image: url("../img/05.jpg"); }
  35.5%,36% { background-image: url("../img/05night.jpg"); }
  36.5%,52% { background-image: url("../img/05night.jpg"); }
  76%,76.5% { background-image: url("../img/05.jpg"); }
  76.5%,77% { background-image: url("../img/05night.jpg"); }
  77%,77.5% { background-image: url("../img/05.jpg"); }
  77.5%,78% { background-image: url("../img/05night.jpg"); }
  78.5%,100% { background-image: url("../img/05.jpg"); }
  
}
/*-----------------------------H1 SMOKE---------------------------------*/

  h1 {
  font-family: 'Homenaje', sans-serif;
  font-size: 2.4em;  
  line-height: 0.6em;
  margin: auto;
  text-align: center;
  color: transparent;
   text-shadow: 0 0 2px #fff;
}


a {
    cursor: pointer;
}

#chevron {
    display: block;
    width: 100px;
    height: 40px;
    text-align: center;
    margin-left: 40px;
    margin-top: 40px;
    position: sticky;
}
.fa-chevron-up {
   font-size: 1.7em;
   margin-left: -5px;
   color: transparent;
   text-shadow: 0 0 2px #fff;
}
#chevron2 {
    position: relative;
    top: -12px;
}
#chevron3 {
    position: relative;
    top: -24px;
}
.curtain {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    box-shadow: 2px 15px 15px 10px rgba(0, 0, 0, .8);
    background: rgba(255, 255, 255, 0.15);
  /*border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;*/ 
    overflow-x: hidden; 
    transition: 0.5s; 
    backdrop-filter: blur(15px); 
}
.curtain-content {
    position: relative;
    top: 30%; 
    width: 100%;
    text-align: center;    
    /*text-shadow: -1.5px 0 1.5px white, 0 1.5px 1.5px white, 1.5px 0 1.5px white, 0 -1.5px 20px white;*/
}
.curtain-content i {
    margin-right: 15px;
}
.curtain a {
    padding: 8px;
    text-decoration: none;
     font-size: 2.25em;
    color: transparent;
   text-shadow: 0 0 2px #fff;
    display: block; 
    transition: 0.3s; 
}
.curtain a:hover, .curtain a:focus {
    color: black; 
    text-shadow: -0.5px 0 0.5px black, 0 0.5px 0.5px black, 0.5px 0 0.5px black, 0 -0.5px 5px black;
}
.curtain .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.fa-times {
  font-weight: lighter;
  font-size: 0.6em;
}
h2 {
  font-family: 'Homenaje', sans-serif;
  font-size: 5em;  
  line-height: 0.6em;
  margin: auto;
  text-align: center;
  color: transparent;
   text-shadow: 0 0 2px #fff;

}



/*-------------------------------------SECTION MINDcard-----------------------------------*/
section {
  position: relative;
  display: flex;
  flex-direction: row;
}
.workco {  
  position: relative;
  width: 25%;  
  margin: auto;  
  text-align: left;
  height: 525px;
  margin: auto; 
  transform: translateY(-50%); 
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);

}
/* card fronts and backs */
.cardfront, .cardback {
  position: absolute;
  top: 50%;  
  left: 55%;  
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  transition: transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;    
  border-radius: 25px;  
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);  
  overflow: hidden;
   /*text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);*/
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  color: white;
}
.cardfront {
 /*background: transparent;*/
 display: flex;
 border: none;
 background: rgba(200, 100, 0, 0.2);
 
}
.cardback {
  backdrop-filter: blur(15px);  
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
  display: flex; 
  flex-direction: column; 
  background: rgba(255, 255, 255, 0.2);

}
.cardback p, .cardback2 p {
  font-size: 1.25em;
  margin: auto;
  padding: 25px;
}
/* card text */
.cardtext { 
  text-align: center;  
  margin: auto; 
 }
/*------------------------------FORMULAIRE--------------------------*/
.cardback .cardtext {
  margin: auto 0;
}
#formulaire {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 0 0 2px #fff; 
  
}

#formulaire button {
  text-decoration: none;
  color: black;
 text-shadow: 0 0 2px #fff;
  cursor: pointer;  
  font-size: 1.5em; 
  font-weight: bolder;  
  transition: all 300ms ease-in-out;  
  margin-top: 20px; 
  margin-bottom: 50px; 
  background-color: white;
}
.form-group {
  display: flex;
  flex-direction: column;

}
#formulaire button:active {
 font-size: 1.25em; 
}
label {
  display: block;
  width: 100%; 
  text-align: center; 
  font-size: 1.5em;  
}
input, textarea {
  width: 100%;  
  box-sizing: border-box;  
  outline: none;  
  padding: 5px;
}
textarea {
  font-size: 1em;
}
input:focus, textarea:focus {
  border-color: rgba(200, 100, 0, 0.9);
  box-shadow: 0px 0px 20px rgba(200, 100, 0, 0.9);
}

.cadre {
  margin: auto;
   width: 95%;    
}
.cadre p {
  color: white;
}


/* hover effect */
.workco:hover .cardfront {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}
.workco:hover .cardback {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}
.cardfront2, .cardback2 {
   position: absolute;
  top: 50%;  
  right: 55%;  
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  transition: transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;    
  border-radius: 25px;  
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
  overflow: hidden;
   /*text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);*/
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  color: white;
}
/*.cardfront2 {
 background: transparent;
 display: flex;
 border: none;
 background: rgba(250, 150, 250, 0.2);
 
}
.cardback2 {
  backdrop-filter: blur(15px);  
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
  display: flex; 
  background: rgba(255, 255, 255, 0.2);
}

.workco:hover .cardfront2 {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}
.workco:hover .cardback2 {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}
*/
/*-----------------------------LINKS---------------------------------*/

#niveau1 {
  position: relative;
  margin: auto;
}
.menu-button {
  position: relative;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  display: flex; 
  text-align: center;  
  color: white;
   text-shadow: 0 0 2px #fff;   
  cursor: pointer;  
  text-align: center; 
  width: 100%;
  height: 500px;  
}
.menu-button:hover {  
  
  opacity: 0.85;
}
.menu-button h3 { 
  font-size: 3em; 
  margin: auto;
   animation: flick 8s infinite alternate;
}

@keyframes flick {   
  0%, 31% { opacity: 0.8; }
  32%,32.5% { opacity: 0.2; }
  32.5%,33% { opacity: 0.8; }
  33%,33.5% { opacity: 0.2; }
  33.5%,34% { opacity: 0.8; }
  34%,34.5% { opacity: 0.2; }
  34.5%,35% { opacity: 0.8; }
  35.5%,36% { opacity: 0.2; }
  36.5%,52% { opacity: 0.2; }
  76%,76.5% { opacity: 0.8; }
  76.5%,77% { opacity: 0.2; }
  77%,77.5% { opacity: 0.8; }
  77.5%,78% { opacity: 0.2; }
  78.5%,100% { opacity: 0.8; } 

}
.fa-facebook-f, .fa-spotify, .fa-instagram { 
  font-size: 3em; 
}
.menu-button span { 
  font-size: 0.5em; 
}
.menu-button img {
  width: 100px;
  height: auto;
   
}
.menu-button a {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  width: 0px;
  height: 0px;
  text-align: center;  
  cursor: pointer;
  color: transparent;
}
.menu-button a:hover {
  text-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.28), 0 2px 5px 0 rgba(0, 0, 0, 0.25);

}
.menu-button a:nth-child(2) {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
  position: absolute;
  top: 50%;
  right: 50%;
}
.menu-button a:nth-child(3) {
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  transition-delay: 0.4s;
  position: absolute;
  top: 50%;
  right: 50%;
}
.menu-button a:nth-child(4) {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  transition-delay: 0.5s;
  position: absolute;
  bottom: 50%;
  right: 50%;
}
.menu-button a:nth-child(5) {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  transition-delay: 0.5s;
  position: absolute;
  bottom: 50%;
  right: 50%;
}
.menu-button:hover a {
  opacity: 1;
  width: 100px;
  height: 100px;
}
.menu-button:hover a:nth-child(2) {
  top: 20%;
  left: -30%;

}

.menu-button:hover a:nth-child(2):hover {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  transform: scale(1.15);

}
.menu-button:hover a:nth-child(3) {
 top: 20%;
  right: -30%;
  
}
.menu-button:hover a:nth-child(3):hover {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  transform: scale(1.15);
  color: white;
}
.menu-button:hover a:nth-child(4) {
  bottom: 10%;
  left: -30%;
}
.menu-button:hover a:nth-child(4):hover {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  transform: scale(1.15);
}
.menu-button:hover a:nth-child(5) {
  bottom: 10%;
  right: -30%;
}
.menu-button:hover a:nth-child(5):hover {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  transform: scale(1.15);

}
article {
  position: absolute;  
  bottom: 0;
  right: 0; 
  color: transparent;
   text-shadow: 0 0 1px #fff;
  margin-right: 5px;
  font-size: 1.1em;
}
/*-----------------------------MEDIA QUERIES---------------------------------*/
@media (min-width: 1920px) and (max-width: 2560px)
  {
 h1 {  
  font-size: 2.75em;     
}
article {
    font-size: 1.25em;
}
}

@media screen and (max-width: 1024px) 
{
.workco {   
  width: 35%; 
}
.cardfront, .cardback {
  top: 50%;  
  left: 25%;    
} 

 h1 {  
  font-size: 2em;    
}
.menu-button:hover a:nth-child(2) {
  top: 20%;
  left: -20%;
}
.menu-button:hover a:nth-child(3) {
 top: 20%;
  right: -20%;
}
.menu-button:hover a:nth-child(4) {
  bottom: 10%;
  left: -20%;
}
.menu-button:hover a:nth-child(5) {
  bottom: 10%;
  right: -20%;
}
}
@media screen and (max-width: 800px)
  {
    section {
  position: relative;
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 3.5em;   
 }
 .workco {   
    height: 425px;
  width: 50%; 
}
 .cardback p, .cardback2 p {
  font-size: 1em;
}
 #chevron {    
    margin-left: 20px;
    margin-top: 20px;
}
#formulaire, #niveau1 {
   font-size: 0.7em;  
}
.menu-button {  
  height: 425px;  
}
.menu-button img {
  width: 70px;
}
.menu-button:hover a:nth-child(2) {
  top: 25%;
  left: -10%;
}
.menu-button:hover a:nth-child(3) {
 top: 25%;
  right: -10%;
}
.menu-button:hover a:nth-child(4) {
  bottom: 5%;
  left: -10%;
}
.menu-button:hover a:nth-child(5) {
  bottom: 3%;
  right: -10%;
}
article {
    font-size: 0.85em;
}
}
@media screen and (max-width: 450px)
  {
    body {  
    background-image: url("../img/05phone.jpg");
    animation: flicker 8s infinite alternate;
}

@keyframes flicker {
  0%, 31% { background-image: url("../img/05phone.jpg"); }
  32%,32.5% { background-image: url("../img/05nightphone.jpg"); }
  32.5%,33% { background-image: url("../img/05phone.jpg"); }
  33%,33.5% { background-image: url("../img/05nightphone.jpg"); }
  33.5%,34% { background-image: url("../img/05phone.jpg"); }
  34%,34.5% { background-image: url("../img/05nightphone.jpg"); }
  34.5%,35% { background-image: url("../img/05phone5.jpg"); }
  35.5%,36% { background-image: url("../img/05nightphone.jpg"); }
  36.5%,52% { background-image: url("../img/05nightphone.jpg"); }
  76%,76.5% { background-image: url("../img/05phone.jpg"); }
  76.5%,77% { background-image: url("../img/05nightphone.jpg"); }
  77%,77.5% { background-image: url("../img/05phone.jpg"); }
  77.5%,78% { background-image: url("../img/05nightphone.jpg"); }
  78.5%,100% { background-image: url("../img/05phone.jpg"); }
  
}
   h1 {  
  font-size: 1em;    
}
h2 {
  font-size: 3.5em;  
 }
 .workco {   
    height: 425px;
    width: 66%;  
}
.cardfront, .cardback {  
  top: 50%;  
  left: 5%;   
}

.curtain-content span {
  display: none;
}

article {
  bottom: 0px;
  right: 0; 
}
#chevron {    
    margin-top: 10px;
    margin-left: -15px;
}
.fa-chevron-up {
   font-size: 1em;
   margin-left: -5px;   
   color: transparent;
   text-shadow: 0 0 2px #fff;
}
#chevron2 {
    position: relative;
    top: -8px;
}
#chevron3 {
    position: relative;
    top: -16px;
}
}
@media screen and (max-width: 325px)
  {

 .workco {   
    height: 420px;
    width: 85%;  
}
.cardfront, .cardback {  
  top: 60%;  
  left: 5%;   
}
.cardfront2, .cardback2 {  
  top: 0%;  
  right: 5%;   
}
.curtain-content span {
  display: none;
}
section {
  position: relative;
  display: flex;
  flex-direction: column;
}

#chevron {    
    margin-top: 10px;
    margin-left: -15px;
}
.fa-chevron-up {
   font-size: 1em;
   margin-left: -5px;   
   color: transparent;
   text-shadow: 0 0 2px #fff;
}
#chevron2 {
    position: relative;
    top: -8px;
}
#chevron3 {
    position: relative;
    top: -16px;
}
}
